body {
  /* colors/fonts */
  background-color: #60688d;
  font-family: monospace;
  font-size: 3.5vh;
  font-weight: bold;
}

.deck {
  /* flexbox */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  /* spacing/sizing */
  width: 92vh;
  height: 92vh;
  margin: auto;
}

.card {
  /* colors */
  background-color: #172357;
  color: #7d87af;

  /* spacing/sizing */
  width: 22%;
  height: 22%;
  margin: 1%;

  /* align content */
  text-align: center;
  line-height: 21vh;
}

.card-flipped {
  /* colors */
  background-color: #824d17;
  color: #d6a26e;

  /* shadow */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);

  /* spacing/sizing */
  margin-left: 2%;
  margin-right: 2%;
}
